		body
		{
			background-image:url('../img/img-3.jpg');
			margin:0px;
			padding:0px;
			background-repeat: no-repeat;
			background-size:100%
		}
		
		#div
		{
			width:500px;
			height:380px;
			background-color:#0000004a;
			margin-top:40x;
			border-style:groove;
			border-radius:10px;
			color:yellow;
		}
		#par
		{
			    font-size:23px;
			    margin-top: 34px;
   			    margin-left:2px;
		}
		#I1
		{
			margin-left:33px; 
			color:black;
			 width:300px;	
			 height:30px;
			 border-style:groove; 
			border-radius:25px;
			 padding-left:10px;
		}
		#I2
		{
			margin-left:12px; 
			color:black;
			 width:300px;
			 height:30px;
			 border-style:groove;
			 border-radius:25px;
			 padding-left:10px;  
		}
		#I3
		{
			margin-left:33px;
			 color:black;
			 width:300px;
			 height:30px;
			 border-style:groove;
			 border-radius:25px;
			 padding-left:10px;
		}
		#I4
		{
			margin-left:25px; 
			color:black;
			width:300px;
			height:30px; 
			border-style:groove; 
			border-radius:25px;
			 padding-left:10px;
		}
		#I5
		{
			margin-left:42px; 
			color:black;
			width:300px; 
			height:30px; 
			border-style:groove;
			border-radius:25px; 
			padding-left:10px;
		}
		#I6
		{
			margin-left:15px; 
			color:black; 
			width:300px; 
			height:30px; 
			border-style:groove; 
			border-radius:25px; 
			padding-left:10px
		}
		
		#I7
		{
			width:102px; 
			padding:5px; 
			background-color:red; 
			border:17px; 
			color:white; 
			border-radius:7px; 
			margin-left:-14px;
			height:30px;
			font-size:17px;
			
			margin-top: -7px;
		}

		#I7:hover
		{
			background-color:yellow;
			color:black;
		}
